@font-face {
  font-family: Zeyada;
  src: url(https://fonts.googleapis.com/css2?family=Zeyada&display=swap);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(102, 51, 153);
  background: linear-gradient(
    0deg,
    rgba(102, 51, 153, 1) 0%,
    rgba(190, 148, 247, 1) 33%,
    rgba(147, 194, 245, 1) 66%,
    rgba(65, 105, 225, 1) 100%
  );
  font-family: Zeyada, cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

p {
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
